/* Perusasetukset */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

/* Headerin tyyli */
.header {
    background-color: #78DCD7;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header a {
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

/* Konteinerin asettelu */
.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
}

/* Sivupalkin tyyli */
.sidebar {
    width: 15%;
	height: 100%;
    background-color: #71CCC8;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.sidebar img {
    width: 160px;
    height: 195px;
    margin-bottom: 20px;
}

.sidebar p {
    font-size: 14px;
    font-weight: bold;
}

/* Sisällön asettelu */
.content {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
}

.content h1 {
    font-size: 24px;
    color:#000000;
	font-weight:bold;
    margin-bottom: 20px;
}

 .content h2 {
    font-size: 20px;
	line-height:1.2;
			
}
.content h3 {
    font-size: 20px;
	line-height:1.2;
}
.content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.form label, form input, form textarea {
    margin-bottom: 10px;
    display: block;
}

/* Linkkien tyyli */
a:link, a:visited {
    color: black;
}

a:hover, a:active {
    color: #256965;
}

/* Responsiivisuus */

/* Pienemmille näytöille (max leveys 768px) */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .sidebar, .content {
        width: 100%;
        padding: 15px;
    }
}

/* Pienille puhelimille (max leveys 480px) */
@media only screen and (max-width: 480px) {
    .header a {
        font-size: 12px;
    }
    .sidebar img {
        width: 120px;
		heigth: 146px;

    }
    .content h1 {
        font-size: 20px;
    }
    .content p {
        font-size: 14px;
    }
.content h2 {
    font-size: 20px;
	line-height:1;
			
}
.content h3 {
    font-size: 18px;
}